
.form-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.form-wrapper{
  background: var(--auth-form-bg);

  border: 2px solid #ccc;

}

.form-error{}

.form-loading{}

.spinner{}

.space{}

.form{}

.form-input{}

.form-lael{}

.input-container{}

.submit-button{}
