
.form-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--auth-form-bg);
  padding: 2rem;
  border: 2px solid #ccc;
  border-radius: 1rem;

}
.gradient-border {
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #f59e0b, #ec4899) border-box;
  border: 2px solid transparent;
  border-radius: 1rem;
}

.form-error{
  color: #d21619;
  font-size: 0.75rem;
  width: 100%;
  margin-top:1em;
}

.form-loading{}

.spinner{}

.space{}

.form{}

.form-input{
  padding: 1em 1em;
  background: var(--auth-input-bg);
  border: 2px solid var(--auth-input-border);
  border-radius: 0.5em;
  width: 100%;
  /* color: #bddb45; */
  font-size: 1rem;
  outline: none;
  &::placeholder{
    color: #ccc;
    font-size: 0.75rem;
  }
}
.valid-input{
  border: 2px solid #05f345;
}

.form-label{

}

.input-container{}

.submit-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5em;
  padding: 1em;
  background: var(--auth-button-bg);
  border: none;
  border-radius: 0.5em;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  &:hover{
    background: var(--auth-button-hover-bg);
  }
  &:disabled{
    background: #216dd080;
    cursor: not-allowed;
  }
}
