
.form-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--auth-form-bg);
  padding: 2rem;
  /* border: 2px solid #ccc; */
  border-radius: 1rem;

}
.gradient-border {
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #f59e0b, #ec4899) border-box;
  border: 2px solid transparent;
  border-radius: 1rem;
}

.form-error{}

.form-loading{}

.spinner{}

.space{}

.form{}

.form-input{}

.form-lael{}

.input-container{}

.submit-button{}
