
.form-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--auth-form-bg);
  padding: 2rem;
  border: 2px solid #ccc;
  border-radius: 1rem;

}
.gradient-border {
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #f59e0b, #ec4899) border-box;
  border: 2px solid transparent;
  border-radius: 1rem;
}

.form-error{}

.form-loading{}

.spinner{}

.space{}

.form{}

.form-input{
  padding: 1em 1em;
  background: var(--auth-input-bg);
  border: 2px solid var(--auth-input-border);
  border-radius: 0.5em;
  width: 100%;
  color: var(--foreground);
  font-size: 0.8rem;
  outline: none;
}

.form-label{

}

.input-container{}

.submit-button{}
