@import "tailwindcss";

:root {
  --background: #424242;
  --foreground: #c1c1c1;
  --text-color: #c1c1c1;
}

:root[data-theme="dark"] {
  --background-color: #424242;
  --background-link: transparent;
  --text-color: #c1c1c1;
  --card-color: #333;
  --dashboard-bg: #555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text-color);

  --font-sans: var(--text-color);
  --font-mono: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #424242;
    --foreground: #ededed;
    --text-color: #c1c1c1;
  }
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
