@import "tailwindcss";
@import "../styles/auth.css";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --auth-form-bg: #2c2c2c50;
  --auth-input-bg: #3a3a3a;
  --auth-input-border: #555;
  --auth-input-focus-border: #777;
  --auth-button-bg: #4a90e2;
  --auth-button-hover-bg: #357abd;
}

:root[data-theme="dark"] {
  --background-color: #424242;
  --background-link: transparent;
  --text-color: #c1c1c1;
  --card-color: #333;
  --dashboard-bg: #555;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
